
{% extends "blog/base.html" %} {% block title %}Log-
in{% endblock %} {% block content %} <h1>Log-in</h1> 
{% if form.errors %} 
<p class="par2"> Your username and password didn't match. Please try again. </p> 
<p class="par2">if you don't have an account yet <a href="{% url 'users:register' %}">sign up.</a> </p>
{% else %} 
 {% endif %} 
 <div class="login-form"> <form method="post"  action="{% url 'users:login' %}"> 
    {{form.as_p }} 
    {% csrf_token %} 
    <button type="submit">log in</button>
    <input type="hidden" name="next" value="{% url 'blog:index' %}">
    </form>
 </div>
{% endblock %}
